/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato');

$font-stack: Lato, arial, sans-serif;

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $font-stack;
    height: 100%;
}